<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
      <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
      <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
      <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/estore</property>
      <property name="hibernate.connection.username">root</property>
      <property name="hibernate.connection.password">root</property>
    
      <mapping class="DatabaseClasses.Artigo"></mapping>
      <mapping class="DatabaseClasses.Carrinho"></mapping>     
      <mapping class="DatabaseClasses.ClassFamilia"></mapping>
      <mapping class="DatabaseClasses.ClassSubFamilia"></mapping>
      <mapping class="DatabaseClasses.Encomenda"></mapping>
      <mapping class="DatabaseClasses.EncomendaLinha"></mapping>
      <mapping class="DatabaseClasses.Newsletter"></mapping>
      <mapping class="DatabaseClasses.NivelAcesso"></mapping>
      <mapping class="DatabaseClasses.UserInfo"></mapping>    
   </session-factory>
</hibernate-configuration>
